#mc_embed_signup {
	width:241px;
	margin:0 1px;
	color:#8cb25e;
	padding:0;
	background:#f8fbed url(../images/bg-green-box.gif) repeat-x;
	}
	
#mc_embed_signup	h3 {
	margin:0;
	color:#fff;
	font-size:18px;
	line-height:22px;
	padding:4px 12px;
	text-align:left;
	background:url(../images/bullet-heading.gif) no-repeat 0 50%;
}
	
div.mc-field-group {
	height:1%;
	padding:0 20px 15px 15px;
	margin:-6px 0 0;
	}
	
div.mc-field-group	p {
	margin:10px 0 0;
	font-size: 14px;
	line-height: 18px;
	text-indent: none;
	padding: 10px 0;
}

div.mc-field-group label {
	display:block;
	padding:0 0 0 1px;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
}

div.mc-field-group input {
	float:left;
	color:#692c26;
	width:198px;
	border:1px solid #89a454;
	background:#fff;
	padding:5px 3px;
	margin:5px 0;
	}

fieldset input.btn {
	color:#fff;
	font-weight:bold;
	width:106px;
	padding:2px 0;
	background:url(../images/bg-submit.gif) repeat-x 0 50%;
	border:0;
	cursor:pointer;
	margin:15px 60px;
}